:root {
	--colour-grey-light-1: #faf9f9;
	--colour-grey-light-2: #f4f2f2;
	--colour-grey-light-3: #f0eeee;
	--colour-grey-light-4: #ccc;

	--colour-grey-dark-1: #09090b;
	--colour-grey-dark-2: #18181b;
	--colour-grey-dark-3: #52525b;
	--colour-grey-dark-4: #a1a1aa;

	--colour-text: var(--colour-grey-dark-4);
	--colour-line: var(--colour-grey-dark-3);
}
