.btn {
	background-color: var(--colour-grey-dark-3);
	color: var(--colour-grey-light-4);

	border: none;
	border-radius: 2px;

	font-size: 1.33rem;
	font-weight: 400;
	cursor: pointer;

	padding: 0.3rem 0.4rem;
}
